*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */

.header {
    overflow: hidden;
}

.header__inner {
    position: relative;
    min-height: 1024px;
    max-width: 1080px;
    margin: 0 auto;
}

.header__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.header__menu {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.header__menu:hover {
    text-decoration: underline;
}

/* wrapper */

.header__wrapper {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.0);
    transition: all 0.3s ease 0s;
}

/* video */

.header__animation {
    margin: auto;
    border: 1px solid transparent;
    border-radius: 50%;
    max-width: 1000px;
    max-height: 1000px;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    z-index: 1;
}

.header__animation_video {
    width: 100%;
    height: auto;
    max-height: 100%;
}

/* main */

.header__main {
    position: absolute;
    margin: auto;
    top: 250px;
    left: 0;
    right: 0;
    border-top: 1px solid transparent;
    z-index: 100;
}

.header__main_link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.header__main_link:hover {
    transform: scale(1.1)
}

.header__suptittle {
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.header__tittle_span {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    color: #FFFFFF;
}

.header__cercle {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 250px;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    width: 525px;
    height: 525px;
    border-radius: 50%;
    z-index: 10;
}

.header__arrow {
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    background-image: url(../images/thin_long_down.png);
    cursor: pointer;
}

/* Nav */

.nav.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    transform: translate3d(0, 0, 0);
}

.nav {
    position: relative;
    background-color: #000;
    opacity: 0;
    transition: 0.5s ease;
    z-index: 10000;
}

.nav__inner {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 25px;
    transition: all 0.2s ease;
}

.nav__item:hover {
    text-decoration: underline;
    color: #ffffffca;
}

/* nav-toggle */

.nav__toggle {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 1000;
    width: 26px;
    padding: 10px 0;
    padding-right: 15px;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
}

.nav__toggle:focus {
    outline: 0;
}

.nav__toggle_item {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 1px;
    transition: background 0.2s linear;
}

.nav__toggle.active .nav__toggle_item {
    background: none;
}

.nav__toggle_item:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    top: -8px;
    z-index: 1;
    border-radius: 1px;
    transition: transform 0.2s linear;
}

.nav__toggle_item:after {
    content: "";
    width: 19px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: -8px;
    border-radius: 1px;
    transition: transform 0.2s linear;
}

.nav__toggle.active .nav__toggle_item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-1px);
}

.nav__toggle.active .nav__toggle_item:after {
    width: 100%;
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-1px);
}

/* About */

.about.fixed {
    padding-top: 100px;
}

.about {
    height: 1500px;
}

.about__inner {
    margin: 0 auto;
    max-width: 1110px;
    margin-top: 271px;
}

.about__tittle {
    display: block;
    float: left;
    font-family: 'Noto Serif JP', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: #000000;
    width: 445px;
    margin-right: 30px;
}

.about__text {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
}

.about__text_right {
    display: block;
    float: left;
    width: 634px;
}

.about__bottom {
    margin-top: 100px;
}

.about__text_left {
    display: block;
    width: 445px;
    text-align: right;
    float: right;
    margin-right: 30px;
    padding-top: 98px;
}

.about__img {
    display: block;
    float: right;
    width: 635px;
    height: 324px;
}

@media (max-width: 414px) {
    body {
        font-size: 16px;
        max-width: 414px;
    }
    /* header */
    .header__inner {
        /* min-height: 736px; */
        max-width: 414px;
    }
    .header__top_inner {
        margin-top: 9px;
    }
    /* wrapper */
    .header__wrapper {
        max-width: 414px;
        top: 160px;
        margin: 0;
    }
    /* video */
    .header__animation {
        margin: 0;
        width: 100%;
    height: auto;
    max-height: 100%;
    }
    /* main */
    .header__main {
        margin: auto;
        top: 250px;
    }
    .header__suptittle {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 25px;
    }
    .header__tittle_span {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 32px;
        line-height: 64px;
    }
    .header__cercle {
        top: 75px;
        width: 250px;
        height: 250px;
    }
    .header__arrow {
        margin-bottom: 10px;
        width: 40px;
        height: 40px;
    }
    /* Nav */
    .nav__logo {
        margin-left: 15px;
    }
    .nav__items {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #000;
    }
    .nav__items.active {
        display: block;
    }
    .nav__item {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
    /* nav-toggle */
    .nav__toggle {
        display: block;
        margin-right: 15px;
    }
    /* About */
    .about__inner {
        display: flex;
        flex-direction: column;
        max-width: 414px;
        margin-top: 60px;
    }
    .about__top {
        display: flex;
        flex-direction: column;
    }
    .about__tittle {
        font-size: 36px;
        line-height: 49px;
        width: 400px;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .about__text {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16px;
    }
    .about__text_right {
        width: 414px;
        margin-top: 40px;
    }
    .about__bottom {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    .about__text_left {
        display: block;
        width: 414px;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px;
    }
    .about__img_wrap {
        width: 384px;
        height: 324px;
        margin-left: 15px;
    }
    .about__img {
        display: block;
        float: right;
        width: 384px;
        height: 324px;
    }
}